<nav class="header">
    <ul class="nav_links">
        <li><a href="{{ path('accueil') }}" > Accueil </a> </li>
        <li><a href="{{ path('echouage_new') }}" > Créer un nouvel echouage </a></li>
        <li><a href="{{ path('echouage_index') }}" > Echouage </a></li>
        <li><a href="{{ path('zone_index') }}" > Zone </a></li>
        <li><a href="{{ path('espece_index') }}" > Espece </a></li>
    </ul>
</nav>