{%extends 'base.html.twig' %}

{% block title%}Premier formulaire sur le cours{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/autocomplete.js') }}"></script>
{% endblock %}

{%block body%}
{{ form_start(form)}}
    {{form_widget(form)}}
    <button class="btn">{{ button_label|default('Save')}}</button>
{{ form_end(form)}}
{% endblock %}