{%extends 'base.html.twig' %}

{% block title%}Premier formulaire sur le cours{% endblock %}

{%block body%}

<div>
<table>

    <thead>

        <tr>
            {% for ele in header %}
            <th>
                {{ele}}
            </th>
            {% endfor %}
        </tr>

    </thead>
    <tbody>

        {% for row in list %}
        <tr>
            {% for ele in row %}
                <td>
                    {% if ele == '0' %}
                     -
                    {% else %}
                        {{ele}}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>

</table>

<table>
    <thead>
        <tr>
            <th> Zone </th>
            <th> Moyenne </th>
            <th> Max </th>
            <th> Min </th>
        </tr>
    <thead>
    <tbody>

        {% for zone in averages %}

            <tr>
                <td> {{header[loop.index]}} </td>
                <td> {{averages[loop.index0]}} </td>
                <td> {{maxs[loop.index0]}} </td>
                <td> {{mins[loop.index0]}} </td>
            </tr>

        {% endfor %}

    </tbody>
</table>
</div>
{% endblock %}