{% extends 'base.html.twig' %}

{% block title %}Echouage index{% endblock %}

{% block body %}
<div class="div_left">
    <h1>Echouage index</h1>
</div>

<div class="div_right">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for echouage in echouages %}
            <tr>
                <td>{{ echouage.id }}</td>
                <td>{{ echouage.date }}</td>
                <td>{{ echouage.nombre }}</td>
                <td>
                    <a href="{{ path('echouage_show', {'id': echouage.id}) }}">show</a>
                    <a href="{{ path('echouage_edit', {'id': echouage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="4"> 
            <a href="{{ path('echouage_index_page', {'page': 0}) }}"> &#60;&#60; </a>  &nbsp; &nbsp;
            <a href="{{ path('echouage_index_page', {'page': page-1}) }}"> &#60; </a> <a href="{{ path('echouage_index_page', {'page': page+1}) }}"> &#62; </a>  &nbsp; &nbsp;
            <a href="{{ path('echouage_index_page', {'page': page_count-1}) }}"> &#62;&#62; </a> 
            </td>
        </tr>
        </tbody>
    </table>
</div>    
{% endblock %}
